__pycache__/

# temporary glade files
*non.glade~
*#non.glade#

# PyCharm
.idea/

# setuptools packaging
build/
dist/
*.egg-info/
data/non.desktop

# localization helper scripts
localizeorcry.py
update_mo.py
ignoredstrings

# exec script draft, kept here for later use
data/non
